h2 {
    color: hotpink;
}
.seats {

    margin-top: 20px;
}

.seat
{
    display: flex;
    justify-content: center;
}
#LoveSeat img
{
    height: 75px;
    margin: 0 15px;
}
.seat img
{
    height: 60px;

}
.scherm {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    transform: rotate(180deg);
}
.left_bar {
    background-color: #ffffff;
    border-right: 1px solid lightgrey;
    width: 320px;
    height: 100%;
}
.right_bar {
    border-left: 1px solid lightgrey;
    background-color: #ffffff;
    width: 320px;
    height: 100%;
}